.DS_Store
node_modules/
.env
.env.*
!.env.example
contracts/out/
contracts/cache/
contracts/broadcast/
.work/
packages/sdk/out/
packages/sdk/dist/
apps/web/.next/
apps/web/out/
apps/relayer/dist/
apps/relayer/*.sqlite*
*.log
contracts/fixtures/
contracts/foundry-pp/
apps/web/.next/
apps/web/next-env.d.ts
apps/web/tsconfig.tsbuildinfo
.vercel
